
* {
    font-family: Helvetica;
}
body {
    background-color: rgb(255, 255, 255);
}
.publicar {
    background-color: rgb(255, 255, 255);
    border: none;
    background: none;
    position: relative;
    top: -63px;
    left: 90px;
    
}
.theme {
    transform: translate(0%, 190px);

    &:hover {
        cursor: pointer;
    }
}
.logo {
    display: flex;
    position: relative;
    top: 100%;
    left: 50%;
    width: 200px;
    transform: translate(-50%, 0%);
    justify-content: center;
    align-items: center;
}
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0px;
    background-color: rgb(255, 255, 255);
    padding-top: 20px;
    color: white;
    transition: left 0.3s ease;
    border-style: solid;
    border-color: #9b9b9b;
    border-width: 1px;
    border-top: 0px;
}

.sidebar a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(0, 0, 0);
    display: block;
    &:hover {
        background-color: #f1f1f1c7;
        cursor: pointer;
    }
}
.inicialLogo {
    transform: translate(30px, -10px);
    width: 55px;
}

.menu-btn {
    position: fixed;
    top: 20px;
    left: 20px;

    font-size: 24px;
    cursor: pointer;
    color: white;
    z-index: 1000;
    width: 50px;
}

.content {
    margin-left: 20px;
    padding: 20px;
}

.text {
    
    display: flex;
    position: relative;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
    justify-content: center;
    align-items: center;    
}